<div class="phone_item">
    <h3>
        {{firstName}} {{lastName}}
        <small>from: {{country_name}}</small>
    </h3>
    <div class="phone">
        <a class="num" href="tel:{{countryCode}}{{phone}}">
            <span class="code">[ +{{countryCode}} ]</span> {{phone}}
        </a>
    </div>
</div>